*{
	box-sizing: border-box;
}
body{
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #5e5e5e;
}

a{
	text-decoration: none;
	display: inline-block;
}

ul, li{
	list-style: none;
	margin: 0;
	padding: 0;
	
}
/* 
.container{
	max-width: 960px;
	margin: 0 auto;
} */
.wrapper{
	background-image: url(../img/header-bg.jpg);
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 750px;
}

#navMain a{
	color:#fff;
	text-decoration: none;
	font-size: 15px;
	line-height: 25px;

}
#navMain a:hover{
	color: #000;
}


h1{
	font-size: 55px;
	line-height: 65px;
	text-transform: uppercase;
	color: #fff;
}
p{
	font-size: 18px;
	line-height: 35px;
	color: #fff;
}
.inner{
	margin-top: 150px;
	display: flex;
	justify-content: space-between;
}
.inner__right iframe{
	
	
}
.easy{
	text-align: center;
	padding-top: 90px;
}
.easy p{
	color: #b0bec5;
	font-size: 15px;
	text-align: center;
	max-width: 585px;
	margin: 0 auto;
}
h2{
	color: #061e37;
	font-size: 45px;
	text-align: center;
}
h3{
	color: #b0bec5;
	font-size: 25px;
}
.easy__itmes{

	margin-top: 85px;
}
.s{
	padding-top: 35px;
}
h4{
	font-size: 20px;
	line-height: 25px;
	color: #061e37;
	padding-top: 45px;

}
.easy__item p{
	color: #78909c;
	font-size: 15px;
	line-height: 20px;
}
.easy button{
	margin-top: 60px;
}
.stats__item1{
	height: 150px;
	background-color: #80d8ff;
}

.stats__item2{
	background-color: #82b1ff;
	height: 150px;

}
.stats__item3{
	height: 150px;
	background-color: #b388ff;
}
.stats__item4{
	height: 150px;
	background-color: #ea80fc;
}

.easy .container-fluid{
	margin-top: 100px;
}
.stats__title,.stats__text{

	text-align: center;
	color: #fff;
	font-size: 20px;
	line-height: 25px;
	vertical-align: middle !important;
}
.stats__title{
	margin-top: 46px;
}

.easy .container-fluid img{
	position: absolute;
	top: 43px;left: 7%;
}

.service p{
	color: #b0bec5;
	font-size: 15px;
	text-align: center;
	max-width: 585px;
	margin: 0 auto;
}
.contact__inner{
	margin-top: 150px;
}

.service h2{
	padding-top: 95px;
}
.accordion{
	margin-top: 40px;
	padding-bottom: 200px;
}
.accordion__item{
	margin: 15px auto 0;
	background-color: rgb( 255, 255, 255 );
  	box-shadow: 0px 2px 5px 0px rgb( 0, 0, 0,.4 );
  	border-radius: 10px;
} 
.accordion__title{
	font-size: 15px;
	color: #061e37;
	padding: 15px 35px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;

}
.accordion__body,
.accordion__body5,
.accordion__body4,
.accordion__body3,
.accordion__body2{
	display: flex;
	justify-content: space-between;
	
}
.accordion__body img,
.accordion__body2 img,
.accordion__body3 img,
.accordion__body4 img,
.accordion__body5 img{
	margin: 0px 25px 25px 25px;
}
.accordion__body p,
.accordion__body2 p,
.accordion__body3 p,
.accordion__body4 p,
.accordion__body5 p{
	text-align: left;
}

.accordion p{
	font-size: 15px;
	color: #061e37;
	line-height: 25px;

}
.icon{
	float: left;
	padding-top: 2.1%;
	padding-left: 10px;
	padding-right: 10px;
}
.arrow{
	float: right;
	padding-top: 2.5%;
	padding-right: 18px;
}


.testimnials{
	background-image: url(../img/slider-bg.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	min-height: 565px;
}
.testimnials h2{
	text-align: left;
	padding-top: 115px;
	color: #fff;

}

.testimnials .btn{
	margin-top: 60px;
}
.slider{
	margin-top: 50px;

}
.slider__item{
	display: flex;
	outline: none;
	margin-bottom: 20px;
	margin-top: 20px;


}
.slider__img img {
	width: 60px;
	height: 64px;
	margin: 20px 20px 0px;
}
.slider__text{
	
	background-color: #fff;
	padding: 35px 15px;
}
.slider__text p{
	color: #78909c;
	font-size: 15px;
	line-height: 25px;
}
.slider__text h3{
	color: #061e37;
	font-size: 18px;
}
.slick-btn{
	width: 40px;
	height: 40px;
	background-color: transparent;
	border: none;
	position: absolute;
	outline: none;
	

}
.slick-next{
	left: 55%;
	transform: translateX(-50%);


}
.slick-next:before{
	content: "\f078";
	font-family: 'icomoon' !important;

}
.slick-prev{
	top: -10%;
	left: 55%;
	transform: translateX(-50%);	
}

.slick-prev:before{
	content: "\f077";
	font-family: 'icomoon' !important;
}
.our_team{
	padding-bottom: 100px;
}
.our_team h2{
	padding-top: 80px;
}
.our_team p{
	color: #b0bec5;
	font-size: 15px;
	text-align: center;
	max-width: 585px;
	margin: 0 auto;

}
.ot__slider-item{
	margin-top: 90px;
	text-align: center;
	outline: none;
	
}
.ot__slider-item img{
	margin: 0 auto;
}

.ot__slider-body{
	max-width: 680px;
	text-align: center;
	margin: 0 auto;
}
.ot__slider-title{
	color: #061e37;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	padding-top: 45px;
}

.ot__slider-text{
	padding-top: 15px;
	color: #90a4ae;
}

.contacts{
	background-color: #fafafa;
	padding-bottom: 100px;
	
}
.contacts__inner{
	width: 605px;
	margin: 0 auto;
	

}

.contacts h2{
	font-size: 45px;
	padding-top: 40px;
}
.contacts p{
	color: #061e37;
	width: 600px;
	text-align: center;
	margin: 0 auto;
	font-size: 15px;
	line-height: 25px;
}

form{
	padding-top: 35px;
}
input{
	padding: 15px 10px;
	border: 2px solid #000;
	border-radius: 10px;
	outline: none;
	margin: 17px 25px 0px 25px;

	
}
textarea{
	padding: 15px 10px;
	border: 2px solid #000;
	border-radius: 10px;
	outline: none;
	resize: none;
	height: 150px;
	margin: 17px auto 0px;
}


form .btn{
	
	margin-top: 20px;
	margin-left: 85%;
}

.footer{
	height: 225px;
	background-color: #061e37;
}

footer .navbar{
	padding-top: 80px;
}

.footer__inner li{
	display: inline-block;
	padding-right: 10px;
	cursor: pointer;

}
.footer__social-facebook:before{
	content: "\f09a";
	font-family: 'icomoon' !important;
	color: #5b6470;
	font-size: 16px;
	padding-right: 15px;
}
.footer__social-twitter:before{
	content: "\f099";
	font-family: 'icomoon' !important;
	color: #5b6470;
	font-size: 16px;
	padding-right: 15px;
}
.footer__social-google:before{
	content: "\f0d5";
	font-family: 'icomoon' !important;
	color: #5b6470;
	font-size: 16px;
	padding-right: 15px;
}
.footer__social-inst:before{
	content: "\f16d";
	font-family: 'icomoon' !important;
	color: #5b6470;
	font-size: 16px;
	padding-right: 40px;
}