@media (max-width: 1024px){
	.our_team .slick-slider{
		width: 700px;
		margin: 0 auto;
	}
	.ot__slider-body{
		width: 500px ;
		
	}
	iframe{
		width: 400px !important;
	}
}

@media (max-width: 768px){
	.our_team .slick-slider{
		width: 400px;
		margin: 0 auto;
	}
	.ot__slider-body{
		width:  200px;
	}
	.contacts__inner{
		width: 500px !important;
	}
	.contacts__inner p{
		width: 450px !important;
	}
	input{
		margin-left: auto !important;
		margin-right: auto !important;

	}
	form .btn{
		margin-left: 45% !important;
	}
}

@media (max-width: 480px){
	iframe{
		width: 300px !important;
		height: 200px !important;
	}
	form .btn{
		margin-left: 39% !important;
	}
	.contacts__inner p{
		width: 250px !important;
	}
	.contacts__inner{
		width: 300px !important;
	}
	.our_team .slick-slider{
		width: 250px;
		margin: 0 auto;
	}
	.ot__slider-item img{
		width: 120px;
	}
	.ot__slider-body{
		width:  115px;
	}

}